@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    background-color: rgb(26, 24, 24);
}

* {
    box-sizing: border-box;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#content {
    float: left;
    width: 72%;
}

#handle {
    background-color: rgb(54, 51, 51);
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

#asideSource {
    opacity: 1;
    transition: opacity 1s;
}

#asideSource.fade {
    opacity: 0;
}

.sosmed-logo {
    width: 50px;
    text-align: center;
}

.cardaside {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(135deg, #fdeb71 0%, #f8d800 100%);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(135deg, #fdeb71 0%, #f8d800 100%);
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

aside {
    float: right;
}

nav {
    background-color: rgb(26, 24, 24);
    padding: 5px;
    position: sticky;
    top: 0;
    margin-top: 20px;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-style: bold;
}

.fotoku {
    max-height: 200px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 1);
    object-position: center;
    text-align: center;
    animation: fadeInAnimation ease 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.jumbotron {
    font-size: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    color: white;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(221, 185, 24);
    text-align: center;
    border-style: solid;
    border-color: rgb(221, 185, 24);
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

table {
    margin: auto;
}

table th {
    text-align: left;
}

header {
    display: inline;
}

.profile header {
    text-align: center;
}

nav a:hover {
    font-weight: bold;
}

img {
    opacity: 1;
}

.profile img {
    width: 200px;
    border-radius: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(221, 119, 2);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: rgb(124, 113, 10);
    color: white;
}

main {
    padding: 35px;
    margin-top: -40px;
    overflow: auto;
    background-color: rgb(26, 24, 24);
}

.featured-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

h2,
h3 {
    color: #000000;
}

footer {
    padding: 20px;
    color: rgb(0, 0, 0);
    background: linear-gradient(135deg, #fdeb71 0%, #f8d800 100%);
    text-align: center;
    font-weight: bold;
}